<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng-1.0.dtd">
<suite name="Suite">
  <listeners>
        <listener class-name="demoappium.TestUtils.TestListener"/>
    </listeners>
    <test name="E2E TC1" thread-count="5">
        <classes>
            <class name="demoappium.Tests.android.eCommerceDemoE2E_TC1" />
        </classes>
    </test>
    <test name="E2E TC2" thread-count="5">
        <classes>
            <class name="demoappium.Tests.android.eCommerceDemoE2E_TC2" />
        </classes>
    </test>
</suite>